<style>
  .search-btn {
    border-color: #fe424d;
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
    font-size: smaller;
  }

  .search-btn:hover {
    border-color: #fe424d;
    background-color: #fe424d;
    color: white;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    /* border-radius: 90px; */
    border-radius: 25px;
    padding-left: 3rem;
  }
</style>

<nav
  class="navbar navbar-expand-md navbar-light bg-body-light border-bottom sticky-top"
>
  <!-- border botoom is bootsrap class which gives us neeche choti si line navbar k neeche degi 
  sticky top s upar chipak jata h humara bootsrap ka navbar
-->
  <a class="navbar-brand offset-1" href="/listings"
    ><i class="fa-regular fa-compass"></i
  ></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link" href="/">Home</a> -->
      <a class="nav-item nav-link" href="/listings">Explore</a>
    </div>

    <!-- <div class="navbar-nav ms-auto">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2 search-inp"
          type="search"
          placeholder="Search destination" 
        />
        <button class="btn search-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>Search
        </button>
      </form>
    </div> -->

    <div class="navbar-nav ms-auto col-3">
      <a class="nav-item nav-link" href="/listings/new">Add new listing</a>
      <% if(!currUser) { %>
      <a class="nav-item nav-link" href="/signup"><b>Sign up</b> </a>
      <a class="nav-item nav-link" href="/login"><b>Login</b></a>
      <% } %> <% if(currUser) { %>
      <a class="nav-item nav-link" href="/logout">Log out</a>
      <% } %>
    </div>
  </div>
</nav>
